<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="audios">
<head>
<!-- 通用屏幕 -->
<link th:href="@{/user/css/general.style.min.css}" rel="stylesheet" />
<!-- 下面样式适用于最大设备宽度为480px，比如说iPhone上的显示，
这里的max-device-width所指的是设备的实际分辨率，
也就是指可视面积分辨率 -->
<link th:href="@{/user/css/phone5s.style.min.css}" rel="stylesheet"
	media="screen and (min-device-width: 640px)" type="text/css" />
</head>

<body>

	<!-- 添加背景音乐 -->
	<!-- 隐藏显示播放器的图标 -->

	<div class="my-player my-clearfix">

		<div class="my-banner">
			<div class="bg">
				<!-- 背景图 -->
				<img th:src="@{/user/img/music/bg-musc.png}" class="bg-musc"
					alt="banner" />

			</div>
			<div class="show-hidden">
				<!--悬浮图  -->
				<img class="my-changing-over" onclick="isHidden()"
					th:src=" @{/user/img/music/show-hidden.png}" />

			</div>

			<div class="musics">
				<audio th:controls="controls" th:id="0" class="audio"
					th:autoplay="autoplay" th:onended="'javascript:playNext();'">
					你的浏览器不支持该音频播放
				</audio>
			</div>

			<div class="previous">
				<img onclick="previous()" th:src=" @{/user/img/music/previous.png}"
					title="上一曲" class="preImg" />
			</div>
			<div class="next">
				<img onclick="next()" th:src=" @{/user/img/music/next.png}"
					title="下一曲" class="nextImg" />
			</div>
		</div>


		<!-- <audio th:controls="controls" th:id="0" class="audio"
				th:style="'height: 88px;'" th:onended="'javascript:playNext();'">
			</audio> -->

	</div>
	<!-- 	</div> -->
	<script th:src="@{/user/js/audios.js}" th:inline="javascript"></script>
	<script th:inline="javascript">
		/* <![CDATA[ */
		$('html').one('touchstart', function() {
			var audio = document.getElementsByClassName("audio")[0];
			audio.play();
			//alert("hello");
		});
		/* ]]> */
	</script>

</body>
</html>