<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="audios">
<body>
	<!-- 添加背景音乐 -->
	<div align="left">


		<!-- 爱你 class="iframe"-->
		<!-- <iframe class="iframe" width="400"
				src="//music.163.com/outchain/player?type=2&amp;id=366752&amp;auto=1&amp;height=66">

			</iframe> -->

		<!-- 天空之城 -->
		<!-- <iframe class="iframe" width="400"
				src="//music.163.com/outchain/player?type=2&amp;id=25721157&amp;auto=0&amp;height=66"></iframe> -->
		<!-- 遇见 日文 -->
		<!-- <iframe class="iframe" width="400"
				src="http://www.missevan.com/soundiframe/20845"> </iframe> -->
		<!-- 遇见视频 日文 -->
		<!-- <iframe width="560" height="315"
				src="http://www.hitow.net/embed/player/506948"></iframe> -->

		<!-- 遇见 mp3-->
		<!-- <iframe class="iframe" width="400"  
				src="http://www.170mv.com/kw/other.web.rd01.sycdn.kuwo.cn/resource/n2/10/49/1242274445.mp3"> </iframe>
 -->

		<!-- <iframe class="iframe" width="400" hidden="true" 
				src="http://www.170mv.com/kw/other.web.rd01.sycdn.kuwo.cn/resource/n2/10/49/1242274445.mp3">

			</iframe>  -->

		<audio autoplay="autoplay" controls="controls" loop="loop"
			src="http://www.170mv.com/kw/other.web.rd01.sycdn.kuwo.cn/resource/n2/10/49/1242274445.mp3">

		</audio>

	</div>
</body>
</html>